@import "tailwindcss";
@import "@fontsource/inter/index.css";
@import "@fontsource/orbitron/index.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);

    background-image: url('../public/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform-origin: center;
    min-height: 100vh;
}

h1,
p,
section {
    font-family: "Inter", sans-serif;
}

.sword-underline {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.sword-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 0;
    background-image: url('sword.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-size: contain;
    background-position: left center;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.sword-underline:hover::after {
    width: 100%;
}
